.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.hero {
  margin: 20px 40px;
}

.allChallenges {
  color: gray;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.allChallenges:hover {
  text-decoration: underline;
}

.challengeContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.challengeName {
  font-size: 32px;
  font-weight: 500;
}

.publishContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.publishButton {
  background-color: #08AAA2;
  color: white;
  border-radius: 30px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.publishButton:hover {
  opacity: 0.9;
}

.challengeDetails {
  margin-top: 30px;
  color: gray;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.challengeDetails a {
  text-decoration: none;
  color: gray;
}

.challengeDetails a:hover {
  color: black;
}

.activeLink {
  text-decoration: underline !important;
  text-decoration-color: #08AAA2 !important;
  font-weight: 600;
  color: black !important;
}
