.share-challenge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
  }
  
  .share-challenge {
    background-color: white;
    padding: 20px;
    width: 60%;
    text-align: center;
    border-radius: 45px;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 80px;
    position: relative;
    right: 17px;
    bottom: 10px;
}

.close-icon {
    cursor: pointer;
    font-size: 24px;
}

.challenge-details {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    align-items: start;
  }
  
  .challenge-image {
    width: 200px;
    height: 100px;
    background-color: #e0f7fa;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .challenge-info {
    display: flex;
    flex-direction: column;
  } 

  .cName{
    position: relative;
    right: 55px;
  }

  .free{
    position: relative;
    right: 102px;
    
  }
  
  .share-buttons {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    margin-top: 10px;
  }
  
  .share-buttons a {
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50%;
  }
  
  .link-section {
    padding-top: 20px;
  }

  .link-section h4{
    font-size: 24px;
    font-weight: normal;
    position: relative;
    right: 320px;
    margin-bottom: 10px;
  }
  
  .link-box {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.link-box input {
    background-color: #ccc;
    border: none;
    width: 100%;
  }
  
  .copy-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  