.mainSidebarIncluded {
  display: flex;
}
.main {
  margin-left: 250px;
  margin-top: 80px;
  padding: 30px;
  min-height: 100vh;
  /* max-width: calc(100vw - 80px); */
  width: 80%;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}
.homeHeader div p {
  font-weight: 600;
}

.contestBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #24b2b4;
  color: #ffffff;
  border: none;
  padding: 0px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  /* width: 160px; */
  height: 40px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.searchBarAndFilter {
  /* width: 78vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid black; */

  margin-bottom: 20px;
}

.searchContainer {
  position: relative;
  width: 55%;
  height: 42px;
  border: 1px solid #4043492b;
  border-radius: 6px;
}

.searchIcon {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #aaa;
  font-weight: 600;
  font-size: 20px;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 45px !important;
  border-radius: 5px;
}

.searchInput:focus {
  border: 1px solid #3498db;
}

.searchInput::placeholder {
  color: #9e9e9e;
  font-size: 14px;
}

.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

.plus {
  width: 20px;
  color: white;
}
.allQuizes {
  display: flex;

  /* border: 2px solid blue; */
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: 2px solid black; */
}

.quizes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  border: 1px solid #e6e6e6;
  height: 178px;
  background-color: #fff;
  border-radius: 10px;
  /* padding-top:10px; */
  padding: 20px;
  min-width: 335px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  width: 330px;
  /* border: 2px solid rgb(232, 2, 167); */
}
.Loader {
  width: 40vw;
  height: 80vh;
  display: flex;
  justify-items: center;
  align-items: center;
  /* border: 3px solid orange; */
  transform: translateX(70%);
}
.quiz:hover {
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
  background-color: rgb(245, 241, 241);
  /* transition: all 0.5s ease-in-out; */
}

@media (width <=1440px) {
  .quiz {
    min-width: 310px;
  }
}

@media (width <=1356px) {
  .quiz {
    min-width: 290px;
  }
}

@media (width <=1291px) {
  .quiz {
    min-width: 250px;
  }
}

@media (width <=1200px) {
  .quiz {
    min-width: 220px;
  }
}

.quizTitle {
  font-size: 18px;
  color: #3c3c3c;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  font-weight: 600;
}

.quizDescription {
  font-size: 14px;
  color: #6a6a6a;
}
.quizTiming {
  color: #6a6a6a;
  /* font-size: 12px !important; */
  display: flex;
  flex-direction: column;
  background: transparent;
  font-size: 12px;
  margin-bottom: 10px;
}

.timeAndButtons {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  gap:0px */
}
.quizActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 304px;
  height: 41px;
}

.quizActions button {
  width: 144px;
  border: none;
  /* padding: 10px 15px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px !important;
  /* font-size:1rem; */
  transition: background-color 0.3s;
}

.deleteBtn {
  /* border: 2px solid #3D70F5 !important; */
  color: white;
  /* font-weight: 800; */
  background-color: #cd5354;
}

.deleteBtn:hover {
  background-color: #53cdbb;
  color: white;
  transition: all 0.1s;
}

.viewBtn {
  border: 2px solid #24b2b4 !important;
  color: #24b2b4;
}

.viewBtn:hover {
  /* border: 2px solid #2C62EE; */
  background-color: #24b2b4;
  color: white;
  transition: all 0.5s;
}

.createQuizContainer {
  background-color: lightgreen;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}

.createQuizContainer:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  /* .quiz {
    width: 100%;
  } */
  .quizTitle {
    font-size: 17px;
  }

  .quizActions {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }

  .quizActions button {
    width: 48%;
    font-size: 11.5px;
  }
}
