.backButton {
  border: none;
  background: none;
  font-size: 18px;
  color: #6a6a6a;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: left;
}

.smallText {
  font-size: 14px;
  gap: 5px;
  img {
    width: 16px;
    height: 16px;
  }
}

.text {
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .backButton img {
    content: url("./assets/ArrowLeftMobile.svg");
    width: 30px;
    height: 30px;
  }

  .backButton p {
    display: none;
  }
}
