/* category dropdown */
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  height: 35px;
  width: 100%;
  background-color: white;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 0px 30px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  text-align: center;
  font-weight: 500;
}

.arrowDown {
  margin-left: 8px;
  font-size: 18px;
  margin-top: 5px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: -15px;
  background-color: white;
  border: 1px solid #b3b3b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 350px;
  overflow-y: auto;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  color: #333333;
  font-weight: 500;
}

.dropdownItem input[type="checkbox"] {
  margin-right: 8px;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}

.dropdownItem input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: white;
}
