.featuresSection {
  background-color: #00181f;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: clamp(2rem, 5vw, 64px);
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  font-family: "figtree", sans-serif;
  max-width: 55%;
  margin: 0 auto;
}

.highlight {
  color: #ffc857;
}

.description {
  color: #b9b9b9;
  font-size: 20px;
  max-width: 800px;
  margin: 12px auto 0 auto;
  line-height: 1.6;
  font-weight: 400;
}

/* Feature Cards Grid */
.featuresGrid {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  width: 90%;
}

/* Feature Card */
.featureCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.featureCard:nth-child(even) {
  flex-direction: row-reverse;
}

.textContent {
  flex: 1;
  min-width: 320px;
  text-align: left;
}

.featureTag {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: "figtree", sans-serif;
}

.featureTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 14px;
  line-height: 1.4;
  font-family: "figtree", sans-serif;
}

.featureDesc {
  font-size: 20px;
  color: #b9b9b9;
  margin-bottom: 16px;
  line-height: 1.6;
  font-family: "figtree", sans-serif;
  font-weight: 400;
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
}

.featureList li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "figtree", sans-serif;
  width: 90%;
}

.featureList li::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #ffffff;
  font-size: 10px;
  scale: 0.7;
  top: -2px;
}

.getStartedBtn {
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  padding-right: 10px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.getStartedBtn span {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 6px;
}

.featureImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 550px; */
  /* height: auto; */
  /* max-height: 400px; */
  overflow: hidden;
}

.imageWrapper {
  aspect-ratio: 3 / 2;
  width: 100%;
  /* overflow: hidden; */
  border-radius: 12px;
}

.eventManagement img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.analyticsInsights img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.challengesContests img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.magicMail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.monetization img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .featureCard {
    flex-direction: column;
    text-align: center;
  }

  .textContent {
    text-align: start;
  }

  .featureCard:nth-child(even) {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .heading {
    max-width: 90%;
    font-size: 40px;
  }

  .featuresGrid {
    gap: 60px;
  }

  .description {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .featureTitle {
    font-size: 30px;
  }

  .featureDesc {
    font-size: 1rem;
  }

  .featureList li {
    font-size: 1rem;
    padding-left: 20px;
  }

  .featureList li::before {
    font-size: 20px;
    top: -2px;
  }

  .getStartedBtn {
    font-size: 0.95rem;
    padding: 8px 16px;
    padding-right: 8px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 32px;
    max-width: 85%;
  }

  .featuresSection {
    padding: 60px 16px;
  }

  .featuresGrid {
    width: 100%;
  }

  .featureTitle {
    font-size: 1.25rem;
  }

  .featureDesc {
    font-size: 0.95rem;
  }

  .featureList li {
    font-size: 0.95rem;
  }

  .getStartedBtn {
    font-size: 0.9rem;
    padding: 6px 14px;
    padding-right: 6px;
  }
}

@media (min-width: 1600px) {
  .featuresSection {
    padding: 100px 40px;
    width: 100%;
  }

  .heading {
    font-size: 72px;
    max-width: 50%;
  }

  .description {
    font-size: 24px;
    max-width: 900px;
  }

  .featuresGrid {
    width: 80%;
    gap: 120px;
  }

  .featureCard {
    gap: 80px;
  }

  .featureTitle {
    font-size: 48px;
  }

  .featureDesc {
    font-size: 24px;
  }

  .featureList li {
    font-size: 20px;
  }

  .featureList li::before {
    font-size: 40px;
    top: -16px;
  }

  .getStartedBtn {
    font-size: 1.1rem;
    padding: 12px 24px;
    padding-right: 12px;
  }

  .getStartedBtn span {
    padding: 0px 8px;
  }

  .imageWrapper {
    aspect-ratio: 3 / 2;
    max-width: 650px;
  }

  .featureImage {
    max-width: 700px;
  }
}
