@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
  position:fixed;
  z-index: 1;
  width: 100vw ;
}
