.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

.wideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #00181f;
}

:global(.dark) .wideContainer {
  background-color: var(--color-background);
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;
  box-sizing: border-box;
  margin-left: 220px;
}

@media (max-width: 1024px) {
  .main {
    justify-content: space-between;
  }

  .content {
    width: 100%;
    padding: 0;
    margin-left: 220px;
  }
}

@media (min-width: 1441px) {
  .container {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }
}

@media only screen and (min-width: 1471px) {
  .main {
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding: 60px 0px 70px 0px;
    min-height: calc(100vh - 130px);
    width: 100%;
    margin-left: 0;
  }
}