.container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 1000;
  /* Ensure it is on top of other elements */
  overflow: hidden;
  /* Prevent overflow */
}

.container2 {
  width: 90%;
  max-width: 1000px;
  /* Set a max width to avoid overflow */
  height: 90%;
  /* Nearly full height */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  /* Add scroll for overflow content */
  overflow-x: hidden;
  /* Prevent horizontal overflow */
  position: relative;
  /* Relative to its parent (container) */
}

.close {
  display: flex;
  justify-content: flex-end;
}

.heading {
  text-align: left;
  margin-bottom: 20px;
}

.textarea {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

.select,
.input {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.optionField {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 12px;
}


.outputinput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #161a1f;
  color: white;
  cursor: pointer;
  margin: auto;
}

.button:hover {
  background-color: #060708;
}

.radio {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 12px;
}