.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.container2 {
  width: 90%;
  max-width: 1000px;
  height: 90%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 24px;
}

.heading {
  text-align: left;
  margin-bottom: 20px;
}

.textarea {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

.select,
.input {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.optionField {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 12px;
}

.checkboxContainer,
.radioContainer {
  display: flex;
  align-items: center;
}

.checkboxLabel,
.radioLabel {
  margin-left: 5px;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #161a1f;
  color: white;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}

.button:hover {
  background-color: #060708;
}

.radio {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 12px;
}

.label {
  margin-top: 10px;
  display: block;
}
