.navbar {
  padding: 20px 20px 10px 20px;
  position: relative;
  background-color: transparent;
  z-index: 1000;
}

.navbarContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  gap: 20%;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarLogo img {
  width: 240px;
}

.navbarLinks {
  display: flex;
  gap: 30px;
  transition: transform 0.3s ease;
}

.navbarLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbarLink:hover,
.navbarLink:focus {
  color: #24b2b4;
  outline: none;
}

.navbarLinkActive {
  color: #24b2b4;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.navbarButton {
  background-color: #24b2b4;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 6px 6px 0px rgba(86, 175, 178, 0.25);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbarButton:hover,
.navbarButton:focus {
  background-color: #1a9e9d;
  transform: scale(1.05);
}

.navbarProfileButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileIcon {
  cursor: pointer;
  color: #000;
}

.profileMenu {
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.profileMenuItem {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profileMenuItem:hover {
  background-color: #f0f0f0;
}

.navbarActions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarActionLink {
  color: #24b2b4;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbarActionLink:hover,
.navbarActionLink:focus {
  color: #1a9e9d;
  outline: none;
}

.mobileMenuButton {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  background: transparent;
  border: none;
}

@media (max-width: 1024px) {
  .navbarContent {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
  }

  .navbarLogo {
    width: 100%;
    justify-content: space-between;
  }

  .navbarLogo img {
    width: 160px;
  }

  .navbarLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    padding: 0 10px;
    transform: translateY(-20px);
  }

  .navbarActions {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    transform: translateY(-20px);
  }

  .mobileMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background: transparent;
    border: none;
  }

  .menuActive {
    /* background-color: white; */
    box-shadow: 0px 2px 4px 0px #71717121;
    height: auto;
  }

  .menuActive .navbarLinks,
  .menuActive .navbarActions {
    display: flex;
    transform: translateY(0);
  }

  .menuActive .navbarLinks {
    animation: slideIn 0.3s ease-in-out;
  }

  .menuActive .navbarActions {
    animation: slideIn 0.3s ease-in-out 0.1s;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 10px;

    margin-top: -50px;
  }

  .navbarContent {
    padding: 20px 20px;
    padding-bottom: 10px;
  }
}